{
    "presets": [
        [
            "@babel/preset-env", {
                "targets": {
                    "node": "current" // compile against the current Node version
                }
            }
        ], "@babel/preset-react"
    ]
}